
  @import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300&display=swap');

.App {
  text-align: center;
}

.footer {
 
  left: 0;
  bottom: 0;
  width: 100%;
  background-color:#4630E4 ;
  color: white;
  text-align: center;
  padding: 20px;
}

@media screen and (max-width:600px){
  .content{
    margin-top:5%;
}
.shop1{
  margin-top: 40%;
  display: flex;
  flex-direction:column;

}

}

